body {
       
    margin: 0;
    padding: 0;
}

main {
    color: rgb(10, 93, 35);
}

nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    text-decoration: none;
   
}

nav ul {
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;

}

nav ul li:not(:last-child)::after {
content: "| ";
color: red;

}

section class.home {

}